<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Employee detail {{ employee['display_name'] }}</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="/static/style.css" />
</head>

<body>

    <div class="container">
        <h1>{{ employee['display_name'] }} </h1>
        <div class="col-sm-4">
            <img src="{{ employee['image_url'] }}" class="img-circle small" alt="{{ employee['display_name'] }}" />
        </div>
        <div class="col-sm-8">
            <form>
                <div class="form-group">
                    <label>Email</label>
                    <span>
                        <a href="mailto:{{ employee['email'] }}">{{ employee['email'] }}</a>
                    </span>
                </div>
                <div class="form-group">
                    <label>Phone</label>
                    <span><a href="tel:{{ employee['phone_number'] }}">{{ employee['phone_number'] }}</a></span>
                </div>
                <div class="form-group">
                    <label>Role</label>
                    <span>{{ employee['role'] }}</span>
                </div>
                <div class="form-group">
                    <label>Squad</label>
                    <span>{{ employee['squad'] }} </span>
                </div>
            </form>
        </div>
    </div>

</body>

</html>